- name: Install common packages
  become: true
  package:
    name:
      - curl
      - git
      - htop
      - wget
    state: latest

- name: Install pkgx
  shell: curl https://pkgx.sh | sh
  args:
    creates: /usr/local/bin/pkgx

- name: Check if pkgx file exists
  stat:
    path: /usr/local/bin/pkgx
  register: pkgx_stat

- name: Install packages via pkgx shims
  shell: pkgm shim {{ item }}
  loop:
    - bat
    - delta
    - dua
    - fd
    - fzf
    - gh
    - just
    - lazydocker
    - lazygit
    - rg
    - starship
    - task
    - yazi
    - zellij
    - zoxide
  args:
    creates: /home/lisp719/.local/bin/{{ item }}
  when: pkgx_stat.stat.exists

- name: Create directories
  file:
    path: "{{ item }}"
    state: directory
  loop:
    - ~/.config/gh
    - ~/.config/zellij
    - ~/workspaces

- name: Copy files
  copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
  loop:
    - src: "{{ playbook_dir }}/../settings/starship.toml"
      dest: ~/.config/starship.toml
    - src: "{{ playbook_dir }}/../settings/wsl/.gitconfig"
      dest: ~/.gitconfig
    - src: "{{ playbook_dir }}/../settings/wsl/.config/gh/config.yml"
      dest: ~/.config/gh/config.yml
    - src: "{{ playbook_dir }}/../settings/jj/config.toml"
      dest: ~/.config/jj/config.toml
    - src: "{{ playbook_dir }}/../settings/wsl/.config/zellij/config.kdl"
      dest: ~/.config/zellij/config.kdl
