[alias]
  s = status -bs
[core]
  autocrlf = input
  editor = nano
[init]
  defaultBranch = main
[pull]
  rebase = false
[push]
  default = current
[user]
  name = lisp719
  email = 368034+lisp719@users.noreply.github.com
[gui]
	encoding = utf-8
[credential]
	helper = manager
